<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static/bootstrap/css', filename='./bootstrap.min.css') }}">
    <title>Text-Mining : Classification with ANN</title>
    <style>
        .description {
            letter-spacing: 0.35px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 col-xxl-10 offset-xxl-1">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Data Mining Techniques for Text-Mining Classification with Artificial Neural Networks</h5>
                </div>
                <div class="card-body">
                    <p class="blockquote-footer mt-1 description">

                    </p>
                    <form action="" class="form">
                        <div class="form-floating">
                            <textarea class="form-control mb-4" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Review</label>
                        </div>
                        <button type="button" class="btn btn-primary w-100" onclick="predict()">Predict</button>
                    </form>
                    <div class="w-100 d-flex justify-content-center">
                        <span id="predictionResult" class="badge mt-4 fs-5 fw-normal"></span>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                <span class="mt-4 fw-normal text-center">
                    &copy; Developed by <a href="https://www.linkedin.com/in/louakmohamed/" target="_blank" class="text-decoration-none"> Mohamed louak </a>&
                    <a href="https://www.linkedin.com/in/mokaddemhicham/" target="_blank" class="text-decoration-none">Hicham Mokaddem</a>.
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static/bootstrap/js', filename='./bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static/autotyping', filename='./autotyping.min.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const exampleText = [
            'This project explores the use of recurrent neural networks',
            'to classify movie reviews according to their sentiment.',
            'The model is trained on the IMDB dataset',
            'and evaluated using metrics such as precision and recall.',
            'The goal is to demonstrate the effectiveness of recurrent neural networks',
            'in sentiment analysis.'
        ];
        const exampleTyping = new AutoTyping('.description', exampleText, {
            typeSpeed: 50,
            deleteSpeed: 50,
            waitBeforeDelete: 2000,
            waitBetweenWords: 500,
        });
        exampleTyping.start()
    });

    function predict() {
        var textInput = document.getElementById("textInput").value;
        console.log(textInput);
        var data = { "text": textInput };

        fetch('/predict', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                var predictionResult = parseFloat(data.prediction);

                var alertClass = predictionResult > 0 ? 'badge-success' : 'badge-danger';
                var predictionText = predictionResult > 0 ? 'Positive' : 'Negative';
                document.getElementById("predictionResult").innerText = predictionText;

                document.getElementById("predictionResult").classList.remove('badge-success', 'badge-danger');
                document.getElementById("predictionResult").classList.add(alertClass);
            })
            .catch(error => {
                console.error('Error during prediction:', error);
            });
    }
</script>
</body>
</html>